html, body {
    padding: 0;
    margin: 0;
    border: 0;

    transition: .5s background-color ease;
}

body,
input {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input {
    margin-left: 0;
}

label {
    margin-right: 5px;
}

.bg_white {
    background: #fff;
}

.bg_black {
    background: #000;
}

.controls {
    position: absolute;
    z-index: 20;
    right: 30px;
    top: 30px;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    line-height: 1.6;
    white-space: nowrap;

    transition: .5s border-color ease;
    border-radius: 10px;
}

.controls__field {
    margin-left: 10px;
}

.bg_black .controls {
    border-color: #666;
}

.controls__title {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #f0f0f0;
}

.controls__group {
    margin-top: 10px;
}

.controls__body {
    padding: 5px 10px 10px 10px;
}

.controls__bottom {
    padding: 5px;
    text-align: center;
    background: #eee;
}

.area_layer #layer {
    display: block;
}

#layer {
    display: none;

    position: fixed;
    z-index: 10;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    width: 50%;
    height: 50%;

    overflow: hidden;
    border: 1px solid rgba(200, 200, 200, .5);
    border-radius: 10px;
}
