html, body {
    padding: 0;
    margin: 0;
    border: 0;
}

body.animation {
    transition: .5s background-color ease;
}

body.debug .snowflake {
    border: 1px solid red;
}

.body_bg_black {
    background: black;
}

body,
textarea,
input {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input {
    margin-left: 0;
}

label {
    margin-right: 5px;
}

.github {
    display: inline-block;
    text-decoration: none;
    padding: 3px 5px;
    border: 1px solid #aaa;
    color: #aaa;
    font-size: 12px;
    border-radius: 5px;
    vertical-align: middle;
}

.header {
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: white;
    background-image: linear-gradient(to right, #3980DB, #B69EE2);
    color: transparent;
    background-clip: text;
    transform: translateX(-50%);
    white-space: nowrap;
}

.no-support {
    position: absolute;
    display: none;;
    left: 20px;
    top: 50px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border: 2px dotted red;
}

.no-support_visible {
    display: block;
}
