.snowflakes_paused .snowflake,
.snowflakes_paused .snowflake__inner,
.snowflakes_paused .snowflake__inner:before {
    animation-play-state: paused;
}

.snowflakes_body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.snowflake {
    position: absolute;
    margin: -21px 0 0 0;
    width: 18px;
    height: 18px;
    animation: snowflake_y 10s infinite linear;
    will-change: transform;
}

.snowflake__inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: snowflake_x 1s infinite ease-in-out;
    animation-direction: alternate;
    will-change: transform;
}

.snowflake__inner:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-size: 100% 100%;
    animation: snowflake_rotate 2s infinite linear;
    will-change: transform;
}

.snowflake__inner_use-rotate:before {
    animation-name: snowflake_rotate;
}

.snowflake__inner_use-rotate-reverse {
    animation-name: snowflake_x-rotate-reverse;
}

.snowflake__inner_num_0:before {
    background-image: url(0.png);
}

.snowflake__inner_num_1:before {
    background-image: url(1.png);
}

.snowflake__inner_num_2:before {
    background-image: url(2.png);
}

.snowflake__inner_num_3:before {
    background-image: url(3.png);
}

.snowflake__inner_num_4:before {
    background-image: url(4.png);
}

.snowflake__inner_num_5:before {
    background-image: url(5.png);
}

.snowflake__inner_num_6:before {
    background-image: url(6.png);
}

.snowflake__inner_num_7:before {
    background-image: url(7.png);
}

.snowflake__inner_num_8:before {
    background-image: url(8.png);
}

@keyframes snowflake_y {
   from {
       transform: translateY(0px);
   }

   to {
       transform: translateY(103vh);
   }
}

@keyframes snowflake_x {
   from {
       transform: translateX(0px);
   }

   to {
       transform: translateX(50px);
   }
}

@keyframes snowflake_rotate {
   from {
       transform: rotate(0deg);
   }

   to {
       transform: rotate(360deg);
   }
}

@keyframes snowflake_rotate-reverse {
   from {
       transform: rotate(0deg);
   }

   to {
       transform: rotate(-360deg);
   }
}
